{% extends "banking/home.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/adres_book.css' %}">
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-3 border-right">
    <a href="{% url 'add_address' %}" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add bill</a>
    <hr>

    {% for acc in user.account.favourites.all  %}
      <a href="{% url 'one_address' pk=acc.pk %}" class="favourite">
        <div class="favourite">
          <p class="acc">
            {{acc.account}}
          </p>
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="col-md-8">
    {% block book_content %}

    {% endblock %}
  </div>
</div>


{% endblock %}
