{% extends "banking/transfers_home.html" %}

{% block transfer_content %}
  {% if user.account.bills.count >= 2 %}
  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
  </form>
  {% else %}
    <div class="not_avaiable">
      You should have at least two bills !!!
    </div>
  {% endif %}
{% endblock %}

<script>
  $('#myselect').on('change', function(){
    $('#myinput').val($(this).val());
  })

  // init
  $('#myselect').change();
</script>
